APP_NAME=FarmOps
ENV=dev
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/farmops
JWT_SECRET_KEY=change_me_super_secret
JWT_REFRESH_SECRET_KEY=change_me_refresh_secret
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
